@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&display=swap');

body {
    background: #0B0C24 !important;
}
.font_sarpanch {
    font-family: "Sarpanch", sans-serif;
}
section .about {
    margin: 5rem 0;
}

.text-label,
.text-about-bold,
.text-about-regular {
    margin: 24px 0;
    color: white;
}
section .vision {
    margin: 5rem 0;
}

section .mission {
    margin: 5rem 0;
}



.title{
    font-size: 50px;
    margin-bottom: 15px;
    text-align: center;
    color: #f1f5f9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
	width: 400px;
}

.card_container .card{
    max-width: 410px;
    margin-top: 50px;
    border-radius: 20px;
    background: #1e293b;
    border: 0.5px solid #f1f5f9;
    padding: 15px;
    color: #f1f5f9;
    position: relative;
}

.user_content .name{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.user_content .post{
    font-size: 15px;
    color: #ffc107;
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    left: 16px;
}

.user_content .post::before{
    content: "";
    height: 2px;
    width: 15px;
    background: #ffc107;
    position: absolute;
    top: 50%;
    left: -16px;
}

.fa-solid{
    color: #ffc107;
}

.transparent{
    color: transparent;
}

.user_content .about{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 13px;
}

.card .round_box{
    position: absolute;
    top: -20%;
    right: 10%;
    /* background: #1e293b !important; */
    width: 130px;
    height: 130px;
    border: 2px solid #f1f5f9;
    border-radius: 50%;
    z-index: 333;
}

.card .img_box{
    position: absolute;
    top: -20%;
    right: 10%;
    z-index: 555;
}

.card .img_box img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 10px;
}

.card .squareBox{
    height: 90px;
    width: 136px;
    /* background: #1e293b; */
    position: absolute;
    top: 0;
    right: 9%;
    z-index: 444;
}
