@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

body {
    background: #0B0C24;
}

@media (max-width: 991px) {
    .sidebar {
    	background: #0B0C24;
        background-color: rgba(255, 255, 255, 0.15) !important;
        backdrop-filter: blur(10px) !important;
    }
}

.nav-item {
    font-family: "Sarpanch", sans-serif;
}

.nav-link {
    color: #fff !important;

}
.nav-link:hover {
    color: #fff;
}
